#signature {
    filter: drop-shadow(0 0 0.75rem gray);
    stroke-dasharray: 1719;
    stroke-dashoffset: 1719;
    animation: sign 2.5s ease-in-out;
    animation-fill-mode: forwards;
    }
    @keyframes sign {
    to {
        stroke-dashoffset: 0;
    }
}